@{
    ViewBag.Title = "StartNew";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p id="back-top" class="raised" style="top: 100px;">
	<a href="@Url.Action("start")"><span></span>На главную</a>
</p>